build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml

# Build artifacts
package-lock.json
tsconfig.tsbuildinfo

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
